apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: components-traefik
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/Timo-Weike/home-cluster
    path: cluster/components/traefik
    targetRevision: main
  destination:
    server: https://kubernetes.default.svc
    namespace: traefik
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true